@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --primary-color: black;
  --background-color: white;
  --secondary-color: #88e0ef;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.dark {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  transition: 0.5s ease-in;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.dark nav a {
  color: white !important;
}
.user__name {
  font-family: "Pacifico", cursive;
  color: var(--secondary-color) !important;
  text-decoration: none;
}
#home,
#skills,
#projects {
  margin-top: 9rem;
}

nav {
  background-color: var(--background-color);
  border-bottom: 2px solid #ccc;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.user__name {
  position: relative;
  font-weight: 700;
  padding: 5px;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

.user__name::before {
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  border-top: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  top: 0;
  left: 0;
}

.user__name::after {
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
}

.nav-link {
  font-size: 1rem;
  color: var(--primary-color) !important;
  transition: all 0.3s ease-in;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
  border-bottom: 2px solid var(--secondary-color);
}

.nav-icon {
  margin-right: 0.5rem;
}

.nav-item {
  margin-left: 1rem;
}

.navbar-nav {
  margin-right: 1rem;
}

#toggle-ld:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.dark #toggle-ld {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.profile__pic img {
  width: 90%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.profile__description h1,
#projects h1,
#about h1 {
  font-size: 3.5rem;
  color: var(--secondary-color);
  line-height: 60px;
}

.profile__description p,
#projects p {
  font-weight: normal;
  color: #585b5b;
}

.btn-dark:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-orange {
  background-color: var(--secondary-color);
}

.btn-orange:hover {
  background-color: var(--primary-color);
}

.btn-orange a,
.btn-dark a {
  color: var(--background-color);
  text-decoration: none;
}

#projects {
  background-color: transparent !important;
  height: 100%;
}

.lead {
  margin-bottom: 5rem;
}

.card__project {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card__project .card__image {
  position: relative;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 260px;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.card__image img {
  max-width: 100%;
  object-fit: contain;
}

.card__content {
  height: 200px;
  padding: 1rem;
  background: #111;
}

.card__content h3 {
  color: var(--secondary-color);
  font-weight: bolder;
  text-shadow: 5px 5px 10px #585b5b;
}

.dark .card__content a {
  color: var(--background-color);
}
.card__content a {
  color: var(--primary-color);
}

#about {
  margin-top: 8rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

#about button {
  color: var(--secondary-color);
}

.footer {
  border-top: 2px solid #ccc;
  width: 100%;
  background-color: var(--primary-color);
}

.footer__content {
  margin-top: 2rem;
}

.footer__content .fa {
  padding: 15px;
  background-color: var(--background-color);
  margin-right: 1rem;
  color: var(--primary-color);
  border-radius: 2.5rem;
}

.footer__content .fa:hover {
  color: var(--background-color);
  background-color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 500px) {
  .profile__pic img {
    width: 100%;
  }
  .profile__description h1,
  #projects h1,
  #about h1 {
    font-size: 2rem;
  }
  .card__content h3 {
    font-size: 20px;
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
.form-control:focus {
  box-shadow: none;
}
